<!-- Navigation Bar -->
<nav class="navbar navbar-expand-md">
    <!-- for branding; logo image -->
    <a href="/" class="navbar-brand">
        <img src="/images/collab-name-and-text.png" width="300" height="65" alt="Collab logo">
        <img src="/images/soundwave.png" width="300" height="65" alt="soundwave img">
    </a>

    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
        <span class="navbar-toggler-icon"></span> <!-- opens menu on smaller screens -->
    </button>

    <a href="/artist" id="linkPages" type="button" class="btn btn-dark">Artist Profile</a>
    <a href="/band" id="linkPages" type="button" class="btn btn-dark">Band Profile</a>
    {{#if user}}
        <a href="/logout" id="linkPages" type="button" class="btn btn-dark">Logout</a>
    {{else}}
        <!-- Bootstrap Login dropdown -->
        <div id="loginDropdown" class="dropdown">
            <button id="loginButton" class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Login / Register
            </button>
            <div id="dropdown" class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
                <form method="post" action="/artist/login" class="text-left">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" name="username" class="form-control" id="inputUsername" aria-describedby="usernameHelp">
                        <small id="usernameHelp" class="form-text text-muted">Enter your unique username</small>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" class="form-control" id="inputPassword">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="signOutCheck">
                        <label class="form-check-label" for="exampleCheck1">Sign me out</label>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
                <!-- New account link -->
                <br>
                <br>
                <!-- link to Profile page -->
                <button id="newAccount" type="button" class="btn btn-link">
                    <a href="/artist/register">New Account</a>
                </button>
            </div>
        </div>
    {{/if}}
</nav>